@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Varela&family=Varela+Round&display=swap');

html,
body {
    font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    font-size: 21px;
    line-height: 1.5;
}

#root {
    height: 100%;
    width: 100%;
}

button {
    cursor: pointer;
    align-self: flex-start;
}

input {
    /*Adjusting size to the size of parent div*/
    width: 100%;
    height: 100%;

    font-size: 14px;
    border: solid 1px rgba(33, 33, 33, 0.3);
    border-radius: 3px;
    padding: 1px 3px;
}

/***  CLASSES  ***/

.main {
    margin: 50px 30px;

    display: grid;
    grid-template-columns: 1fr 800px;
    column-gap: 20px;
}


.add-exp {
    display: flex;
    align-items: center;
}

.add-exp>* {
    cursor: pointer;
}


/****INPUT CONTAINER CSS****/

.input-area {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.input-column {
    display: flex;
    column-gap: 10px;
}

/****OUTPUT CONTAINER CSS****/
.output-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.output-header-description {
    font-size: 13px;
    padding: 0 10px;

}

.output-work-exp {
    display: grid;
    row-gap: 10px;
}

.work-exp-ul {
    margin: 0;
    padding: 0;
    display: flex;
}